{
        padding: 0;
        margin: 0;

    }

    body {

        font-family: 'Macondo', cursive;
        font-family: 'Oleo Script Swash Caps', cursive;
        font-family: 'Roboto', sans-serif;
    }

    nav {
        position: relative;
        /*es para que la posicion sea relativa*/
        z-index: 1;
        /* */
    }

    .navbar-menu {
        background: rgb(230, 184, 34);
        /*color de mi barra menu*/
        height: 50px;
        /*altura de 50px*/
        width: 100%;
        /*ancho 100%*/

        position: fixed
            /*posicion fija*/
    }

    .logo {
        position: absolute;
        color: #FFFFFF;
        font-size: 30px;
        /*TAMAÑO DE FUENTE 30Px*/
        top: 8px;
        /*se  ubicara abajo a 8Px*/
        left: 5%;
        /*pero se ubicara a 5% a la derecha*/
        font-weight: bold;
        /*grosor de la fuente en negrita*/
    }

    .navbar-menu ul {
        float: right;
        /*hace q la lista flote a lado derecho*/
        margin-right: 20px;
        /*tendra un margen al lado derecho de 20 px*/
        list-style: none;
        /* para quitar las viñetas de la lista*/
    }


    .navoption li {
        display: inline-block;
        /*alineado en bloque con display, para ponerlo horizontal*/
        line-height: 20px;
        /*Linea de altura de 50px*/
        margin: 0 5px;
        /*margen 0 y ademas un margen 5px tanto como a lderecha e izquierda*/

    }

    .navoption li a {
        color: #ffffff;
        /*darle color a la letra*/
        text-decoration: none;
        /*le quitamos el efecto del hipervinculo*/
        text-transform: uppercase;
        /*EL TEXTO ESTE EN MAYUSCULA*/
        font-size: 20px;
        /*El tamaño de fuente sea de 20px*/
        padding: 5px 10px;
        /*agregar relleno 5px al inferior y superior, ademas 10px a la derecha e izquierda*/
        position: relative;
        /*posicion relativa*/

        border-radius: 3px;
        /*generas un borde de 3px*/
    }

    a:focus,
    a:hover {
        background-color: #575a57;
        ;
        /*al darle clic hara el efecto con el focus de otro color,al pasar el cursor puede generar el efecto de color con hover */
        transition: .5s;
        /*El tiempo que hara el efecto es menos de 1 segundo (0.5s)*/
    }

    #check {
        display: none;
        /*lo ocultamos el icono de check*/
    }

    .chekbtn {
        font-size: 25px;
        /*tendra un tamaño de fuente de 25px*/
        float: right;
        /*hace q el chkbtn este a lado derecho*/
        color: #050505;
        /*agregar color*/
        line-height: 50px;
        /*una altura de 50px*/
        margin-right: 25px;
        /*margen derecho 25px*/
        cursor: pointer;
        /*cuando pasa el cursor se convierte en un mano*/

        /display: none;
        /*lo ocultamos el icono de check*/
    }

    section {
        width: 100%;
        /*ocupara el 100% cada seccion*/
    }

    .banner {
        height: 122vh;
        /*la clase banner tendra una altura  de 97vh*/
        position: relative;
        /*la clase tendra la posicion relativa*/
        background-color: rgb(199, 154, 6);
        /*le damos color al fondo de color azul*/

    }

    .banner-content img {
        margin: 5px 0;
        border-radius: 40%;
        /*banner-content img tendra un margen de 5px superior e inferior y 0 px a los costados/
    width: 100%;/*en ancho de esta imagen es del 100%/*/
    }


    .banner-text {
        position: absolute;/banner text tendra posicion absoluta/ color: #FFFFFF;/color del texto es color blanco/ top: 37%;/que el texto este en lo superior del 37 %/ left: 50%;/que se mueva a la derecha un 50%/ transform: translateX(0%) translateY(-45%);
        /*en base al eje x se movera el 0% y en base al eje y se movera al -45% */
    }

    .banner-text h2 {
        font-size: 45px;/tendra un tamaño de fuente de 45px/
    }

    .banner-text a {
        display: block;/el enlace tendra un display block/ width: 100px;/tendra un ancho de 100px/ color: #F5F2F2;/definimos el color/ text-decoration: none;/le quitamos el hiprevinculo/ padding: 7px;/rellegano con 7px/ margin-top: 10px;/tiene un margen de 10px/ border: 3px solid #f5f2f2;
        /*tendra un borde de 3px y un color solido */
    }

    .banner-text a:hover {
        background-color: #F5F2F2;/el color de fondo sea de este color/ color: grey;/y el color de letra/
    }

    .about {
        height: 97vh;/la clase about tendra una altura de 97vh/ position: relative;/la clase banner tendra una posicion relatica/ background: #302d2d;
        /*tendra un background osea un fondo del color */
        color: #f5f2f2;
        /*su color es */
    }

    .about-content {
        width: 100%;
        hyphens: 100%;
        padding: 30px 0;
        padding:30px;
        text-align: center;
        border-radius: 10%;
    }

    .about-content h2 {
        font-size: 45px;/mi h2 tendra tamaño fuente de 45px/ text-transform: uppercase;/cambiamos las letras a mayuscula/
    }

    .about-content p,
    .about-content h2 {
        padding: 10px 50px;/parrafo y h2 tendran un paddind 10px inferrior t superior y 50px a los extremos/
    }

    .about-img {
        width: 100%;
        box-sizing:border-box;
        margin-top: 30px;
        padding: 0 50px;
        border:#f4f0f0    }

    .about-imgx {
        width: 33%;/cada conteneder y la imagen tendra un ancho de 33%,
        juntandolos/ float: left;/que todo esto este flotando a la izquierda/
    }

    .img-job {
        width: 280px;/tendra un ancho las imagenes de 280px/ height: 280px;/tendra un alto de 180px/ display: block;
        /*tendra un display bloqueado */
        margin-left: auto;/asigname un margen izquierdo en automatico/ margin-right: auto;/asigname un margen derecho en automatico/ padding-bottom: 15px;/un relleno inferior de 15px/
    }

    .form-contact {
        width: 50%;
        float: left;
    }

    .contacto-img {
        width: 50%;
        float: left;
    }

    .contacto-img img {}

    @media(max-width:1024px) {
        .logo {
            padding-left: 40px;/reducimos 40px al achicar la pantalla/
        }

        .navoption li a {
            font-size: 16px;/tendra un tamaño de fuente de 16px/ padding: 7px 10px;/agregar relleno 7px al inferior y superior,
            ademas 10px a la derecha e izquierda/
        }

        .banner {
            height: 65vh;/tendra una altura el banner de 89vh/
        }

            
        .img-job {
            width: 210px;/imagen se convierte en 210 px de ancho/ height: 210px;/imagen se convierte en 210 px de alto/
        }
    }

    @media(max-width:768px) {
        .checkbtn {
            display: block;
            /* con esto indica que la clase checkbtn este en bloque*/
        }*/

        .navoption {
            position: fixed;
            /* con esto indica que la clase navoption tendra un posicion fija*/
            width: 100%;
            /* con esto indica que la clase navoption tendra un ancho del 100%*/
            height: 100vh;
            /* con esto indica que la clase navoption tendra un alto del 100vh*/
            background: #21427F;/AGREGAMOS COLOR/ top: 50px;/LO Bajamos 50px/ Left: -100%;
            text-align: center;/alineado al centro/ transition: 5s;/una transicion de 5segundos/
        }

        .navoption li {
            display: block;
            /* con esto indica que la clase checkbtn este en bloque*/
            border: 1px solid#f4f0f0;
            /* con esto indica que tendra un borde 1px y un color solido con un color asignado*/
            z-index: 1;
            /*al pasarel scroll se vea animacion */
        }
    }

   
